/*set color of background of nav bar*/
.topnav {
    background-color: #FFD580;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #818080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ff8100;
    color: black;
    }

/* Add a color to the active/current link */
.topnav a.active {
background-color: #fb7505;
color: white;
}

/*give banner height and back ground img */
.banner{
background-color: #f9c69b;
height: 200px;
width: 100%; 
}
.move{
font-size:80px;
}

/* Footer */

footer{
bottom: 0px;
width: 100%;
background: #f9c69b;
}

.main-content{
display: flex;
}

.main-content .box{
flex-basis: 50%;
padding: 10px 20px;
color: #818080;
}
.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}

.box .content{
margin: 20px 0 0 0;
}

.left .content .social{
margin: 20px 0 0 0;

}

.left .content .social a{
padding: 0 2px;
color: white;
}
.left .content .social a span{
height: 40px;
width: 40px;
line-height: 40px;
text-align: center;
}
.cpy{
text-align: center;
color: #000;
}
/*footer css over */

/*for table*/
#add-row{
border:2px solid black;
margin-left: auto;
margin-right: auto;
width : 50%;
border-radius: 10px;
color:orange;
}

td{
text-align:center;
color : black;
}

tr{
border:2px solid black;
}


/*edit button*/
#ed1{
background-color: #008CBA; 
border: solid;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 25px;
}

/*delete button*/
#del1{
background-color: #f44336; 
border: solid;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 25px;
}




/*add_catagory */

.add_cat{
    border: 2px solid black;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
}

.add_cat_fm{
    padding-top: 10px;
    text-align: center;

}

#add_cat_txt{
    border: 1px solid black;
    height: 30px;
    background-color:whitesmoke;
}

#add_cat_btn{
    
    background-color: green; 
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;   
}

/*update page*/
.update_cat_tb{
    margin-left: auto;
    margin-right: auto;
}

#update_btn{
    margin-left: 50%;
    background-color: green; 
    border: solid;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
}

.update_btn_p{
    text-align: center;

}

.update_cat{
    border: 2px solid black;
    height: 150px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 20px;
}

